Matrix_factorize/bounded-simplex-structured-matrix-factorization/
Matrix_factorize/data_new/
Matrix_factorize/mnist.npy
*.aux
*.log
*.out
*.toc
*.xdv
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.synctex.gz
.DS_Store

